{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
</head>
<body>
    <div class="content">
        <img class="titulo-img" src="{% static 'pokedex.webp' %}" alt="">
       <!-- <h1 class="titulo">Pokedex</h1> -->
        <form method="POST">
            {% csrf_token %}
            <input class="Input" type="text" name="pokemon" placeholder="Ingresa el nombre del pokemon">
            <button class="Buscar" type="submit">🔎 Buscar</button>
        </form>

        {% if id and nombre %}
            <div class="tarjeta">
                <img class="imagen" src="{{ imagen }}" alt="{{ nombre }} sprite">

                <div class="info-basica">
                    <div><strong>Número:</strong> {{ id }}</div>
                    <div><strong>Nombre:</strong> {{ nombre }}</div>
                    <div><strong>Altura:</strong> {{ altura }}</div>
                    <div><strong>Peso:</strong> {{ peso }}</div>
                    <div><strong>Tipos:</strong> {{ tipos }}</div>
                </div>

                <div class="habilidades-movimientos">
                    <div>
                        <strong>Habilidades:</strong>
                        <p>{{ habilidades }}</p>
                    </div>
                    <div>
                        <strong>Movimientos:</strong>
                        <p>{{ movimientos }}</p>
                    </div>
                </div>

                <div class="estadisticas">
                    <div>
                        <strong>Estadísticas:</strong>
                        <p>{{ estadisticas }}</p>
                    </div>
                </div>

                <div class="descripcion">
                    <strong>Descripción:</strong>
                    <p>{{ descripcion }}</p>
                </div>
            </div>
        {% elif error %}
            <p class="error">{{ error }}</p>
        {% else %}
            <div>
                <h3 class="escribe">Escribe el nombre o ID de tu Pokémon.</h3>
            </div>
        {% endif %}
    </div>
</body>
</html>
